#map {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  height: 85vh;
  width: 95%;
  border-radius: 2rem;
}
.leaflet-popup-content-wrapper {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(160, 169, 176, 0.15);
  border: 1px solid #a0a9b0;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 250px;
}

.popup-image {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #a0a9b0;
}

.popup-content {
  padding: 16px;
}

.popup-details {
  margin-top: 12px;
}

.popup-title {
  color: #2b2d42;
  margin: 0 0 8px 0;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #a0a9b0;
  padding-bottom: 8px;
}

.popup-details p {
  margin: 10px 0;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-details p::before {
  content: attr(data-label);
  color: #a0a9b0;
  font-weight: 500;
  margin-right: 8px;
  font-size: 0.9em;
}
